* {
    margin: 0;
    padding: 0;
}

body { /*Wrapper*/
    background-color: #E5E5E5;
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FFD59E
}

.petitebarre {
    width: 676px;
    height: 9px;
    background-color: #FF6738;
    
}

.grossebarre {
    width: 640px;
    height: 54px;
    background-color: #FF6738;
}

.grossebarre2 {
    width: 530px;
    height: 54px;
    background-color: #FF6738;
}

.grossebarre3 {
    width: 600px;
    height: 54px;
    background-color: #FF6738;
}



/*============TITRES============*/                          /*============TITRES============*/

h1 {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    color: #FF6738;
    padding-left: 20px;
    display: inline-block;
}

h2 {
    font-family: 'Francois One', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    color: #FF6738;;
}

#h3lowercase {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-transform: initial;
    color: #FFA938;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #FF6738;
}
/*============HEADER============*/                           /*============HEADER============*/

header {
    background-color: #FFD59E;
    margin: 0 auto;
    height: 147px;
    max-width: 1024px;
}

header > h2 {
    text-transform: initial;
    font-size: 34px;
    position: relative;
    bottom: 90px;
    left: 348px;
}

#petitebarre1 {
    position: relative;
    bottom: 80px;
    left: 348px;
}

header > nav {
    background-color: #FF6738;
    height: 46px ;
    position: relative;
    bottom: 12px;
}

header > nav > ul {
    list-style: none;
    position: relative;
    left: 89px;
    top: 12px;
}

header > nav > ul > li {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding: 14px;
}

/*============MAIN CONTENT============*/                    /*============MAIN CONTENT============*/
#img01{
    background-image: url(images/header_img.jpg);
    height: 400px;
    background-position: center 35%;
}

/*----Article 1----*/

#introimg {
    padding-top: 19px;
    padding-right: 26px;
    height: 297px;
    width: 327px;
    float: left;
}

#intro {
    margin-block-start: 19px;
    margin-block-end: 70px;
}

#intro > p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
}

#petitebarre2 {
    position: relative;
    left: 348px;
    top: 32px;
}

/*----Article 2----*/

#fondateurimg {
    background-image: url(images/fondateur_img.jpg);
    height: 400px;
    background-position: center 75%;
}

#fondateur {
    background-color: #FFD59E;
    margin-block-end: 42px;
}

#fondateur > h3 {
    position: relative;
    top: -50px;
    left: 690px;
}

#fondateur > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    column-count: 2;
    column-gap: 22px;
    padding-left: 89px;
    padding-right: 89px;
    padding-bottom: 50px;
}

/*========NOS SERVICES========*/                                    /*=====SERVICES=====*/
#grossebarre1 {
    float: right;
}

#services > h2 {
    position: relative;
    left: 80px;
    bottom: 15px;
}

/*----GESTION DE PROJET----*/
#gestion {
    margin-block-start: 20px;
}
#gestion > img {
    width: 502px;
    height: 292px;
    float: right;
    margin-top: 10px;
    padding-left: 20px;
}

#gestion > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    padding-top: 10px;
}

/*----DÉVELOPPEMENT WEB----*/
#developweb {
    margin-block-start: 70px;
}

#developweb > img {
    width: 502px;
    height: 292px;
    float: left;
    margin-top: 10px;
    padding-right: 20px;
}

#developweb > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    padding-top: 10px;
}

/*----HÉBERGEMENT----*/
#hebergement {
    margin-block-start: 70px;
}

#hebergement > img {
    width: 502px;
    height: 292px;
    float: right;
    margin-top: 10px;
    padding-left: 20px;
}

#hebergement > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    padding-top: 10px;
}

/*=========TARIFS========*/                                      /*=========TARIFS========*/

#grossebarre_second {
    float: left;
}

#tarifs > h2 {
    position: relative;
    right: -20px;
    bottom: 15px;
    margin-top: 70px;
}

table {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    empty-cells: hide;
    margin-block-start: 26px;
}
table, thead, td {
    border: 7px solid #ffffff;
    border-collapse: collapse;
    padding: 20px;
}
/*---TABLE HEAD---*/

table > thead {
    background-color: #f78563;
    font-size: 20px;
    text-align: center;
}

/*---TABLE BODY---*/

table > tbody > tr > td:nth-child(1), table > tbody > tr > td:nth-child(2) {
    background-color: rgb(255, 199, 136);
}

table > tbody > tr > td:nth-child(2) {
    text-align: center;
    font-size: 18px;
}

table > tbody > tr > td:nth-child(3) {
    text-align: justify;
    width: 28%;
}

table > tbody > tr > td:nth-child(4) {
    text-align: right;
    font-weight: 500;
}

table > tbody > tr > td:nth-child(5) {
    text-align: center;
}

.row_class {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/*========CONTACT========*/                                      /*========CONTACT========*/

/*----TITRE----*/

#contact {
margin-block-start: 38px;
}

#grossebarre2 {
    float: right;
}

#contact > h2 {
    position: relative;
    left: 120px;
    bottom: 15px;
}

/*----CONTACT SPACE----*/
/*----APPARENCE----*/

form {
    margin-top: 25px;
}

input, textarea {
    background-color: #FFD59E;
    border: 0px solid;
    border-radius: 5px;
    resize: none;
}

input:placeholder-shown, textarea:placeholder-shown {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #B7B7B7;
    font-weight: 500;
    font-style: normal;
    padding-left: 18px;
}

textarea:placeholder-shown {
    padding-top: 20px;
}

textarea {
    width: 982px;
    height: 285px;
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    display: block;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

/*----PADDING AND SIZING----*/

#nom {
    width: 395px;
    height: 66px;
}

#prenom {
    width: 518px;
    height: 66px;
    float: right;
}

#courriel {
    width: 656px;
    height: 66px;
}

#telephone {
    width: 656px;
    height: 66px;
}

#mandat {
    padding-top: 20px;
    padding-bottom: 20px;
}

#nometprenom {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#divprenom {
    padding-left: 33px;
}

#divcourriel {
    margin-top: 35px;
    margin-bottom: 35px;
}

#divmandat {
    margin-top: 35px;
}

/*----BOUTON----*/

#soumettre {
    margin-top: 31px;
    position: relative;
    float: right;
    right: 87px;
    background-color: #FF6738;
    border: 0px solid;
    border-radius: 5px;
    width: 310px;
    height: 86px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-align: center;
}

#soumettre:hover {
    background-color: #e64818;
    cursor: pointer;
}

#soumettre:active {
    background-color: #9c3110;
    cursor: pointer;
}

/*========FOOTER========*/                                    /*========FOOTER========*/

footer {
    margin-block-start: 150px;
    background-color: #C4C4C4;
    height: 325px;
    width: 1024px;
}

#grossebarre3 {
    float: right;
    position: relative;
    top: 37px;
}

footer > h1 {
    margin-top: 13px;
    position: relative;
    left: 63px;
}

footer > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 87px;
}